<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Фантазариум</title>
    <link rel="stylesheet" href="/static/style.css">
</head>
<body>

    <div class="container">
        <h1 class="logo">Фантазариум</h1>
        <p class="podzagolovok">Игра, где побеждает воображение</p>

        <div class="knopki">
            <a href="/vhod" class="knopka knopka-glavnaya">Играть</a>
            <a href="/pravila" class="knopka">Правила</a>
        </div>

        <p class="nizhniy-text">Проект ученика 8 класса</p>
    </div>

</body>
</html>