<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Фантазариум</title>
    <link rel="stylesheet" href="/static/style.css">
</head>
<body>

    <div class="zvezdy"></div>

    <div class="kosmos">
        <div class="planeta gazoviy"></div>
        <div class="planeta ledyanoy"></div>
        <div class="planeta kamenistaya"></div>
        <div class="planeta zemlepodobnaya"></div>
        <div class="planeta lunnaya"></div>
        <div class="s-kolcami">
            <div class="telo"></div>
            <div class="kolco"></div>
            <div class="kolco kolco-2"></div>
        </div>
        <div class="kometa kometa-1"></div>
        <div class="kometa kometa-2"></div>
        <div class="kometa kometa-3"></div>
        <div class="sputnik sputnik-1">
            <div class="panel panel-l"></div>
            <div class="korpus"></div>
            <div class="antenna"></div>
            <div class="panel panel-r"></div>
        </div>
        <div class="sputnik sputnik-2">
            <div class="panel panel-l"></div>
            <div class="korpus"></div>
            <div class="antenna"></div>
            <div class="panel panel-r"></div>
        </div>
        <div class="stanciya stanciya-1">
            <div class="krylo krylo-l"></div>
            <div class="modul"></div>
            <div class="krylo krylo-r"></div>
        </div>
    </div>

    <div class="container">
        <p class="nadzagolovok">вселенная ассоциаций</p>
        <h1 class="logo">Фантазариум</h1>
        <p class="podzagolovok">Одна картинка, тысяча смыслов.<br>Угадай чужой, спрячь свой.</p>

        <div class="lenta-kart">
            <div class="mini-karta"></div>
            <div class="mini-karta"></div>
            <div class="mini-karta"></div>
            <div class="mini-karta"></div>
            <div class="mini-karta"></div>
        </div>

        <div class="knopki" style="margin-top: 38px;">
            <a href="/vhod" class="knopka knopka-glavnaya">Войти в игру</a>
            <a href="/pravila" class="knopka">Как играть</a>
        </div>

        <div class="opisanie">
            <div class="punkt">
                <span class="cifra">4-7</span>
                <span class="podpis">игроков</span>
            </div>
            <div class="punkt">
                <span class="cifra">90</span>
                <span class="podpis">карт</span>
            </div>
            <div class="punkt">
                <span class="cifra">30</span>
                <span class="podpis">очков до победы</span>
            </div>
        </div>

        <div class="kak-igraem">
            <div class="shag">
                <div class="shag-nomer">1</div>
                <div class="shag-text">Ведущий загадывает ассоциацию к своей карточке</div>
            </div>
            <div class="shag">
                <div class="shag-nomer">2</div>
                <div class="shag-text">Остальные подкидывают свои карточки, чтобы всех запутать</div>
            </div>
            <div class="shag">
                <div class="shag-nomer">3</div>
                <div class="shag-text">Все голосуют и пытаются угадать карточку ведущего</div>
            </div>
        </div>

        <p class="podskazka-nizu">
            Загадаешь слишком просто, угадают все.<br>
            Загадаешь слишком сложно, не угадает никто.<br>
            И в том, и в другом случае ты без очков.
        </p>

        <p class="nizhniy-text">Фантазариум</p>
    </div>

</body>
</html>